<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor=" let person of persons">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>account_circle</mat-icon>
        {{person.name}}
      </mat-panel-title>
      <mat-panel-description>
        Talks of the Person

      </mat-panel-description>
    </mat-expansion-panel-header>


    <mat-card *ngFor=" let talk of person.talks">
      <mat-card-header>
        <mat-card-title>
          <button mat-button (click)="onLoadTalk(talk.id)" >
            {{talk.name}}
          </button>
        </mat-card-title>
        <mat-card-subtitle>
          on {{talk.startDateTime | date}}  from {{talk.startDateTime | date:'HH:mm'}}
          to {{talk.endDateTime | date:'HH:mm'}}
        </mat-card-subtitle>
        <button mat-button>
          <mat-icon>{{getLevelIcon(talk.level)}}</mat-icon>
          {{getLevelText(talk.level)}}
        </button>
        <button mat-button>
          <mat-icon>language</mat-icon>
          {{talk.language}}
        </button>
      </mat-card-header>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
