<mat-card *ngFor=" let event of events">
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random">
    <mat-card-title>
      {{event.name}}
    </mat-card-title>
    <mat-card-subtitle>{{event.startDate | date}} - {{event.endDate  | date}}</mat-card-subtitle>
    <button mat-button>
      <mat-icon>location_on</mat-icon>
      {{event.location.name}}
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngFor=" let talk of event.talks">
      <mat-card-header>
        <mat-card-title>
          {{talk.name}}
        </mat-card-title>
        <mat-card-subtitle>
          on {{talk.startDateTime | date}}  from {{talk.startDateTime | date:'HH:mm'}}
          to {{talk.endDateTime | date:'HH:mm'}}
        </mat-card-subtitle>
        <button mat-button>
          <mat-icon>{{getLevelIcon(talk.level)}}</mat-icon>
          {{getLevelText(talk.level)}}
        </button>
        <button mat-button>
          <mat-icon>language</mat-icon>
          {{talk.language}}
        </button>
      </mat-card-header>
      <mat-card-content>

        <mat-chip-list aria-label="Topics">
          <mat-chip color="primary" selected>Topics</mat-chip>
          <mat-chip selected *ngFor=" let topic of talk.topics">{{topic.name}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Day Overview for the Event
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="event.days.length > 0">
          <mat-button-toggle-group  [value]="event.days[0]" #group="matButtonToggleGroup">
            <mat-button-toggle [value]="day" *ngFor=" let day of event.days">
              <mat-icon>view_day</mat-icon>
              {{day | date}}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <div>
            <app-event-list *ngIf="group.value"
              [event]=event [day]="group.value"
            ></app-event-list>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>


  </mat-card-content>
  <!--mat-card-footer>
    <a routerLink="day" mat-button *ngFor=" let day of event.days">
      <mat-icon>view_day</mat-icon>
      {{day | date}}
    </a>
  </mat-card-footer-->
</mat-card>


<!-- img mat-card-image src="https://source.unsplash.com/random/800x600" -->
