<mat-card *ngIf="talk">
  <mat-card-header>
    <mat-card-title>
      {{talk.name}}
    </mat-card-title>
    <mat-card-subtitle>
      on {{talk.startDateTime | date}}  from {{talk.startDateTime | date:'HH:mm'}}
      to {{talk.endDateTime | date:'HH:mm'}}
    </mat-card-subtitle>
    <button mat-button>
      <mat-icon>{{getLevelIcon(talk.level)}}</mat-icon>
      {{getLevelText(talk.level)}}
    </button>
    <button mat-button>
      <mat-icon>language</mat-icon>
      {{talk.language}}
    </button>
    <button mat-button>
      <mat-icon>location_on</mat-icon>
      {{talk.room.name}},{{talk.event.location.name}}
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random">
        <mat-card-title>
          {{talk.event.name}}
        </mat-card-title>
        <mat-card-subtitle>{{talk.event.startDate | date}} - {{talk.event.endDate  | date}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <span> </span>

    <mat-card *ngFor="let person of talk.persons">
      <mat-card-header>
        <mat-card-title>
          <button mat-button>
            <mat-icon>account_circle</mat-icon>
            {{person.name}}
          </button>
        </mat-card-title>
      </mat-card-header>
    </mat-card>

    <span> </span>

    <mat-chip-list aria-label="Topics">
      <mat-chip color="primary" selected>Topics</mat-chip>
      <mat-chip selected *ngFor=" let topic of talk.topics">{{topic.name}}</mat-chip>
    </mat-chip-list>

  </mat-card-content>
</mat-card>
