table {
  width: 100%;
}

.mydiv {
  width: 80%;
  display: flex;
  background-color: #333333;
  justify-content: center;
  height: 100%;
}

th.mat-header-cell {
  text-align: center;
}

tr {
  text-align: center;
}

