<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor=" let columnName of displayedColumns" [cdkColumnDef]=columnName>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.room.name == columnName">

        <h3>{{element.name}}</h3>
        <button mat-button>
          <mat-icon>{{getLevelIcon(element.level)}}</mat-icon>
          {{getLevelText(element.level)}}
        </button>
        <mat-tab-group>
          <mat-tab label="Topics">
            <mat-list dense>
              <mat-list-item *ngFor=" let topic of element.topics"> {{topic.name}}
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="People">
            <mat-list dense>
              <mat-list-item *ngFor=" let person of element.persons"> {{person.name}}
              </mat-list-item>
            </mat-list>
          </mat-tab>

        </mat-tab-group>



      </div>
      <div *ngIf="(startTimeColumnName == columnName)">
        {{getTime(element.startDateTime)}}
      </div>
      <div *ngIf="(endTimeColumnName == columnName)">
        {{getTime(element.endDateTime)}}
      </div>
    </td>
    <th mat-header-cell *matHeaderCellDef> {{columnName}}</th>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
