<header  focusonnavigation aria-label="Get started" id="homepage-header"
        class="docs-header-background" tabindex="-1" style="outline: none;">

  <div  class="docs-header-section">

    <div  class="docs-header-headline">
      <h1 class="mat-h1">Confy Events</h1>
       <h2 > Organize your events with Confy easily !</h2>
    </div>

  </div>
</header>
<main  class="docs-homepage-promo">
  <div  class="docs-homepage-row docs-introduction">
    <div class="docs-homepage-row-column">
      <h2>Events</h2>
      <p>Check out the latest events in Confy.
      You can organize your events and check
      which talks will be held in each Event.</p>
      <p>
        <a routerLink="/events" mat-button>
          <mat-icon>event</mat-icon>
          Events
        </a>
      </p>
    </div>
    <div class="docs-homepage-row-column">
      <h2>People</h2>
      <p>Check out the people who are talkings in events
        in Confy. You can select a person and see their
        talks and the topics they are talking about.</p>
      <p>
        <a routerLink="/people" mat-button>
          <mat-icon>people</mat-icon>
          People
        </a>
      </p>
    </div>
    <div class="docs-homepage-row-column">
      <h2>Topics</h2>
      <p>Check out the topics in Confy.
        You can choose arounf the topics and see
        which talks are related to them.</p>
      <p>
        <a routerLink="/topics" mat-button>
          <mat-icon>topic</mat-icon>
          Topics
        </a>
      </p>>
    </div>
  </div>
</main>
