.mat-h1, .mat-headline, .mat-typography h1 {
  font: 400 48px/60px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

.docs-header-section {
  width: 90%;
  position: absolute;
  z-index: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mat-drawer-container {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgb(24 24 24 / 87%);
}
.docs-header-headline {
  color: #fff;
}
.docs-header-background {
  background: #3f51b5;
  background-image: url(https://source.unsplash.com/2xaF4TbjXT0/2400x1599);
  overflow: hidden;
  position: relative;
  height: 420px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}


.docs-header-start {
  text-align: center;
  margin: 50px 0 0;
}

.docs-homepage-promo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.docs-homepage-promo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 24px;
  padding: 0;
}
header {
  display: block;
}

.docs-homepage-row {
  width: 75%;
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

.docs-homepage-row-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
}
