<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-toolbar-row fxLayoutGap="10px">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/home" mat-button>
      <mat-icon>weekend</mat-icon>
      Confy
    </a>
    <div fxShow="true" fxHide.lt-md="true" fxLayoutGap="10px">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a routerLink="/events" mat-button>
        <mat-icon>event</mat-icon>
        Events
      </a>
      <a routerLink="/people" mat-button>
        <mat-icon>people</mat-icon>
        People
      </a>
      <a routerLink="/topics" mat-button>
        <mat-icon>topic</mat-icon>
        Topics
      </a>

      <span class = "filler"></span>

      <a (click)="login()" mat-button>
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>
      <a (click)="logout()" mat-button color="warn">
        <mat-icon class="icon">lock_open</mat-icon>
        <span class="label">Logout</span>
      </a>
      <a (click)="showUser()" mat-button>
        <mat-icon class="icon">person</mat-icon>
        <span  *ngIf="!getName()" class="label">Unknown User</span>
        <span *ngIf="getName()" class="label">{{getName()}}</span>
      </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>


  <mat-sidenav mode="fixedInViewport" #sidenav>
    <mat-nav-list>

      <a (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon>
        Close
      </a>
      <a routerLink="/events" mat-list-item>
        <mat-icon>event</mat-icon>
        Events
      </a>
      <a routerLink="/people" mat-list-item>
        <mat-icon>people</mat-icon>
        People
      </a>
      <a (click)="login()" mat-list-item>
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>
      <a (click)="logout()" mat-list-item>
        <mat-icon class="icon">lock_open</mat-icon>
        <span class="label">Logout</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">person</mat-icon>
        <span  *ngIf="!getName()" class="label">Unknown User</span>
        <span *ngIf="getName()" class="label">{{getName()}}</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>

    <!--div class="myDiv">
    </div-->
  </mat-sidenav-content>



</mat-sidenav-container>

