<mat-card>
  <mat-card-header>
    <p>Welcome to Logged in Person!! </p>
  </mat-card-header>
  <mat-card-content>
    Here is some the information about Person who logged in.

    <div *ngIf="information">
      {{information}}
    </div>

  </mat-card-content>
</mat-card>
