<mat-card>
  <mat-card-header>
    <span><h2>Topics</h2></span>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list id="chipList" [selectable]="true" aria-label="All Topics"  >
      <mat-chip [value]="topic" *ngFor=" let topic of topics " (click)="changeSelected(topic)">
        {{topic.name}}
      </mat-chip>
    </mat-chip-list>
    <app-topic *ngIf="selectedTopic" [topicId]="selectedTopic.id"></app-topic>
  </mat-card-content>

</mat-card>
<mat-card>


  <mat-card-header>
    <span><h2>Add Topic</h2></span>
  </mat-card-header>
  <mat-card-content>

<div class="example-container">
    <form (ngSubmit)="submit()"  name="topicForm" #topicForm="ngForm">

      <mat-form-field   appearance="fill">
        <mat-label> Name </mat-label>
        <input matInput required id="namex"
        [(ngModel)]="formTopic.name" name="name" #name="ngModel" >
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Parent</mat-label>
        <mat-select multiple  id="parents"
                    [(ngModel)]="formTopic.parents"  name="parents"  #parents="ngModel" >
          <mat-option value="option" *ngFor="let parentTopic of topics" [value]="parentTopic">{{parentTopic.name}}</mat-option>
        </mat-select>
        <mat-hint align="end">Select here</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Children</mat-label>
        <mat-select multiple  id="children"
                    [(ngModel)]="formTopic.children"  name="children"  #children="ngModel" >
          <mat-option value="option" *ngFor="let childTopic of topics" [value]="childTopic">{{childTopic.name}}</mat-option>
        </mat-select>
        <mat-hint align="end">Select here</mat-hint>
      </mat-form-field>

      <button type="submit" mat-raised-button class="submit-button" color="primary" [disabled]="!topicForm.form.valid">Submit</button>

    </form>
  <div >Test Div</div>
</div>

  </mat-card-content>

</mat-card>



