<mat-card *ngIf="topic">
  <mat-card-content>

    <mat-form-field class="example-chip-list">


    <mat-chip-list aria-label="self">
     <mat-chip selected>{{topic.name}}</mat-chip>
    </mat-chip-list>

    <mat-chip-list aria-label="Parents" *ngIf="topic.parents">
      <mat-chip color="warn" selected [selectable]="false">Parents</mat-chip>
      <mat-chip  *ngFor=" let topic of topic.parents" (click)="changeSelected(topic)" [selectable]="true" >{{topic.name}}</mat-chip>
    </mat-chip-list>

    <mat-chip-list aria-label="Children" *ngIf="topic.children">
      <mat-chip color="warn" selected [selectable]="false">Children</mat-chip>
      <mat-chip  *ngFor=" let topic of topic.children" (click)="changeSelected(topic)" [selectable]="true" >{{topic.name}}</mat-chip>
    </mat-chip-list>

    </mat-form-field>

  </mat-card-content>


</mat-card>


